@tailwind base;
@tailwind components;
@tailwind utilities;

textarea {
  resize: none;
}

svg {
  cursor: pointer;
}

input, button, textarea {
  background: transparent;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

label input[type="file"] {
  display: none;
}